<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="delret" value="https://rumos0820.ruby.drtrus.ru/api/v4/groups/119/-/packages/nuget/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <delret>
        <add key="Username" value="gitlab_dotnet_read_package" />
        <add key="ClearTextPassword" value="DczPj981hb22fN6aiyPx"/>
    </delret>
    <GRPC>
        <add key="Username" value="gitlab_grpc_read_package" />
        <add key="ClearTextPassword" value="xkWasAtBNj1e1NESY4rE"/>
    </GRPC>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>